body{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}
header{
    background: black;
    text-align: center;
    color: white;
    padding: 15px;
}
section{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
img{
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin: 20px;
}
